* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 50vh;
  height: 80vh;
  border: 1px solid black;
}

body {
  font-family: "Lato", sans-serif;
}

.header {
  height: 30%;
  background-image: url(img/logo.jpg);
  background-size: cover;
  background-position: top;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
}

.to-do-list {
  height: 65%;
  border: 1px solid red;
}

.add-to-do {
  border: 1px solid blue;
  height: 5%;
}

.current-date {
  position: absolute;
  font-size: 12px;
  color: #fff;
  top: 80%;
  left: 5%
}

.add-to-do {
  display: flex;
  flex-wrap: wrap;
}
.button {
  padding: 5px;
  transform: scale(1.25);
}

#to-do-text {
  margin: 5px;
  width: 80%;
}
